@model List<Entidades.Usuario>
@section Scripts{
    <script src="~/js/usuarioFiltros.js"></script>
}

<div class="row">
    <div class="col-1"> <h3> Filtros</h3></div>
    <div class="col-4">
        <select class="js-example-basic-single col-12" id="nombre" onchange="obtenerResultados()">

            <option value="">Nombre</option>
            @foreach (Entidades.Usuario usuario in Model)
            {
                <option value="@usuario.Nombre">@usuario.Nombre</option>
            }
        </select>
    </div>
    <div class="col-4">
        <select class="js-example-basic-single col-12" id="email" onchange="obtenerResultados()">

            <option value="">Email</option>
            @foreach (Entidades.Usuario usuario in Model)
            {
                <option value="@usuario.Email">@usuario.Email</option>
            }
        </select>
    </div>
    <div class="col-3 form-check">
        <label class="col-8 form-check-label" for="eliminado">Excluir Eliminados</label>
        <input class="form-check-input" type="checkbox" name="eliminado" id="eliminado" checked="true" onclick="obtenerResultados()" />
    </div>

</div>
<br />


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Apellido</th>
            <th scope="col">Ver</th>
        </tr>
    </thead>
    <tbody id="tbody">
        @foreach (Entidades.Usuario usuario in Model)
        {
            <tr>
                <td>@usuario.Nombre</td>
                <td>@usuario.Email</td>
                <td>@usuario.Apellido</td>
                <td>Ver</td>
            </tr>
        }

    </tbody>
</table>

